@font-face {
	font-family: 'entypo';
	src:url('/font/entypo.eot');
	src:url('/font/entypo.eot?#iefix') format('embedded-opentype'),
		url('/font/entypo.svg#entypo') format('svg'),
		url('/font/entypo.woff') format('woff'),
		url('/font/entypo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-images, .icon-cloud-download, .icon-cloud-upload, .icon-enter, .icon-exit, .icon-arrow-right, .icon-arrow-left, .icon-fullscreen-alt, .icon-fullscreen-exit-alt, .icon-thumbs-up, .icon-comment, .icon-plus, .icon-eye, .icon-camera, .icon-googleplus, .icon-facebook, .icon-twitter {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-images:before {
	content: "\e002";
}
.icon-cloud-download:before {
	content: "\e003";
}
.icon-cloud-upload:before {
	content: "\e004";
}
.icon-enter:before {
	content: "\e001";
}
.icon-exit:before {
	content: "\e005";
}
.icon-arrow-right:before {
	content: "\e006";
}
.icon-arrow-left:before {
	content: "\e007";
}
.icon-fullscreen-alt:before {
	content: "\e008";
}
.icon-fullscreen-exit-alt:before {
	content: "\e009";
}
.icon-thumbs-up:before {
	content: "\e00a";
}
.icon-comment:before {
	content: "\e00b";
}
.icon-plus:before {
	content: "\e00c";
}
.icon-eye:before {
	content: "\e00d";
}
.icon-camera:before {
	content: "\e00e";
}
.icon-googleplus:before {
	content: "\e00f";
}
.icon-facebook:before {
	content: "\e010";
}
.icon-twitter:before {
	content: "\e011";
}
