<template name="leftPanel">
   <div class="mt-gallery-left">
        <h1 class="mt-gallery-title">{{title}}</h1>
        <img class="mt-gallery-bg" src="{{background}}" alt="">
        <nav class="menu">
        	<ul>
        		<li>
        			<a href="/">
        				<i class="icon-home"></i>
        				Home
        			</a>
        		</li>
        		<li>
        			<a href="/form" class="mt-upload-link" title="Envoi de photos">
        				<i class="icon-plus"></i>
        				Ajouter une photo
        			</a>
        		</li>
        		<li>
        			<a href="/form" class="mt-upload-link" title=""></a>
        		</li>
        	</ul>
        </nav>
    </div>
</template>