<template name="galleryList">
    <ul class="mt-album-gallery">
        {{#each galleries}}
            {{> galleryThumb}}
        {{/each}}
    </ul>
</template>

<template name="galleryThumb">
     <li class="mt-album">
        <a href="/{{_id}}">
            <div class="mt-album-thumb">
                {{picture sample 300}}
            </div>
            {{#isolate}}
            <div class="mt-album-name">
                <p>{{creator}}</p>
                <p class="mt-photo-counter">{{size}} photos</p>
            </div>
            {{/isolate}}
            <div class="mt-album-over">
                <div class="mt-album-over-circle">
                    <i class="icon-eye"></i>
                </div>
            </div>
        </a>
    </li>
</template>