<template name="galleryList">
    <ul class="album-gallery">
        {{> bestOfGalleryThumb}}
        {{#each galleries}}
            {{> galleryThumb}}
        {{/each}}
    </ul>
</template>

<template name="bestOfGalleryThumb">
     <li class="album">
        <a href="/{{_id}}">
            {{#isolate}}
            <div class="album-thumb">
                {{picture sample 300}}
            </div>
            {{/isolate}}
            <div class="album-name">
                <p>Photos favorites</p>
            </div>
            <div class="album-over">
                <div class="album-over-circle">
                    <i class="icon-eye"></i>
                </div>
            </div>
        </a>
    </li>
</template>

<template name="galleryThumb">
     <li class="album">
        <a href="/{{_id}}">
            {{#isolate}}
            <div class="album-thumb">
                {{picture sample 300}}
            </div>
            {{/isolate}}
            {{#isolate}}
            <div class="album-name">
                <p>{{creator}}</p>
                <p class="photo-counter">{{size}} photos</p>
            </div>
            {{/isolate}}
            <div class="album-over">
                <div class="album-over-circle">
                    <i class="icon-eye"></i>
                </div>
            </div>
        </a>
    </li>
</template>