<template name="form">
    <div class="upload-content">
        <form action="#">
            {{#isolate}}
            <input id="upload-token" name="upload_token" type="hidden" value="{{currentUser.uploadToken}}">
            {{/isolate}}
            <input id="upload-files" name="files" type="file" required accept="image/*" multiple style="display:none;">
        </form>

        <div id="upload-zone">
            <h2>Cliquez ou déposez vos photos ici (100 Mo max.)</h2>
        </div>

        <div id="upload-progress" style="display:none;">
            <h2>Veuillez patienter...</h2>
            <p><span id="upload-progress-percent">0</span>/100% envoyés</p>
        </div>
    </div>
</template>
