<template name="form">
    <div class="mt-upload-content">
        <div id="mt-upload-zone">
            <h2>Drop Images Here !</h2>
        </div>
        <form action="#">
            {{#isolate}}
            <input id="upload-token" name="upload_token" type="hidden" value="{{currentUser.uploadToken}}">
            {{/isolate}}
            <input name="files" type="file" required accept="image/*" multiple>
        </form>
        <progress min="0" max="100" value="0">0% complete</progress>
    </div>
</template>
