<template name="form">
    <div class="mt-upload-content">
        <div id="mt-upload-zone">
            <h2>Cliquez ou déposez vos images ici</h2>
        </div>
        <form action="#">
            {{#isolate}}
            <input id="upload-token" name="upload_token" type="hidden" value="{{currentUser.uploadToken}}">
            {{/isolate}}
            <input id="mt-upload-files" name="files" type="file" required accept="image/*" multiple style="display:none;">
        </form>

        <div id="mt-upload-progress" style="display:none;">
            <h2>Veuillez patienter...</h2>
            <p><span id="mt-upload-progress-percent">0</span>/100% envoyés</p>
        </div>
    </div>
</template>
