.mt-photo {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 25px;
    @extend .fadeInRight;

    &:hover {
        cursor: pointer;
    }
}

.mt-photo-thumb {
    height: 100%;
}