.mt-upload-content {
	position: relative;
    top: 50%;
    width: 90%;
    height: 500px;
    margin: -250px auto 0 auto;
    text-align: center;
    @extend .fadeInRight;

    h2 {
        font-size: 2em;
    }
}

#mt-upload-zone {
    width: 100%;
    height: 100%;
    line-height: 500px;
    text-align: center;
    border: 1px dashed $blackLight;
    background: $color-3;

    &:hover {
        cursor: pointer;
    }

    &.drag-hover {
        border : 1px dashed $color-1;
    }
}

#mt-upload-progress {
	margin-top: 225px;
}