.mt-upload-content {
	@extend .fadeInRight;
}

#mt-upload-zone {
	width: 90%;
	height: 300px;
	margin: 10px auto;
	line-height: 300px;
	text-align: center;
	border: 1px dashed $blackLight;
	background: $color-3;

	&.drag-hover {
		box-shadow : inset 0px 0px 20px rgba(0, 0, 0, 0.1);
		border : 1px dashed #bb2b2b;
	}
}