.mt-gallery-viewer {
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.mt-viewer-title {
	position: fixed;
	top: 40px;
	left: 40px;

	h1 {
		font-size: 56px;
		text-transform: uppercase;
		word-wrap: break-word;
	}

	.mt-viewer-open {
		font-size: 12px;
		font-style: italic;
	}
}
