.mt-gallery-left {
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.mt-gallery-title {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 56px;
    text-transform: uppercase;
    word-wrap: break-word;
}
