$primary                : #fff;
$secondary              : #000;

$color-1                : #ca1974;
$color-2             	: #b9c732;
$color-3				: #f4f4f4;
$color-4				: #efefef;

$blackLight             : rgba(0, 0, 0, 0.5);
$whiteLight            	: rgba(250, 250, 250, 0.5);