.album {
    position: relative;
    float: left;
    width: 200px;
    height: 240px;
    margin: 0 15px 15px 0;
    @extend .fadeInRight;

    a {
        text-decoration: none;
    }

    &:hover {
        background: $primary;

        .album-over {
            display: block;
            opacity: 1;
            @include box-shadow(inset 0 0 0 1px $blackLight);
        }
    }
}

.album-thumb, .photo-thumb {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
    img {
        height: 100%;
    }
}

.album-count {
    height: 18px;
    text-align: center;
}

.album-name {
    height: 40px;
    padding: 5px;
    text-align: center;

    p {
        font-size: 14px;
        line-height: 18px;
        color: $secondary;

        &.photo-counter {
            font-size: 11px;
            font-style: italic;
            color: $blackLight;
        }
    }
}

.album-over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $whiteLight;
    opacity: 0;
}

.album-over-circle {
    $width: 60px;
    $height: 60px;

    position: relative;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    margin-top: - $height / 2;
    margin-left: - $width / 2;
    background: $secondary;
    @include border-radius($width/2);
    @extend .fadeInUp;

    &:hover {
        cursor: pointer;
    }

    [class^="icon-"] {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-left: -8px;
        font-size: 16px;
        color: $primary;
    }
}