.photo {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 15px 15px 0;

    &:hover {
        cursor: pointer;

        .photo-thumb-over {
            display: block;
            opacity: 1;
            @include box-shadow(inset 0 0 0 1px $blackLight);
        }
    }
}

.photo-thumb {
    position: relative;
    height: 100%;
}

.photo-thumb-over {
    @extend .album-over;
}

.photo-thumb-circle {
    @extend .album-over-circle;
}