.mt-gallery-left {
    position: fixed;
    left: 0;
    //width: 46.4%;
    width: 150px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.mt-gallery-title {
    position: absolute;
    top: 40px;
    left: 240px;
    font-size: 34px;
    letter-spacing: -2px;
    text-transform: uppercase;
    word-wrap: break-word;
}
