<template name="photoOverlay">
    {{#if photo}}
    <div id="overlay">
    	<div class="close-overlay">
    		<i class="icon-fullscreen-exit-alt"></i>
    	</div>
        <div class="overlay-content">
            {{picture photo 1000}}
            <div class="overlay-nav-gallery">
                {{#if previousPhotoId}}
                <button class="prev">
                    <i class="icon-arrow-left"></i>
                </button>
                {{/if}}
                {{#if nextPhotoId}}
                <button class="next">
                    <i class="icon-arrow-right"></i>
                </button>
                {{/if}}
            </div>
            {{> photoOverlayBar photo}}
        </div>
    </div>
    {{/if}}
</template>

<template name="photoOverlayBar">
    <div class="overlay-options">
        <ul>
            <li class="overlay-options-item">
                {{#if hasStarred}}
                <a href="#" class="unstar">
                    <i class="icon-thumbs-up"></i>
                    Je n'aime plus ({{this.starred}})
                </a>
                {{else}}
                <a href="#" class="star">
                    <i class="icon-thumbs-up"></i>
                    J'aime ({{this.starred}})
                </a>
                {{/if}}
            </li>
            <li class="overlay-options-item">
                <a href="/download/{{this._id}}">
                    <i class="icon-cloud-download"></i>
                    Télécharger la photo
                </a>
            </li>
        </ul>
    </div>
</template>