<template name="photoOverlay">
    <div id="mt-photo-overlay" style="display:none;">
    	<div class="close-overlay">
    		<i class="icon-fullscreen-exit-alt"></i>
    	</div>
        <div class="mt-photo-overlay-content">
            <div class="overlay-picture">{{picture photo 1000}}</div>

            <div class="overlay-nav-gallery">
                <button class="prev">
                    <i class="icon-arrow-left"></i>
                </button>
                <button class="next">
                    <i class="icon-arrow-right"></i>
                </button>
            </div>

            <div class="overlay-picture-options">
            	<ul>
            		<li class="overlay-options-item coming-soon">
            			<a href="#">
            				<i class="icon-thumbs-up"></i>
            				j'aime<span class="coming-info">(Bient&ocirc;t disponible)</span>
            			</a>
            		</li>
					<li class="overlay-options-item coming-soon">
						<a href="#">
							<i class="icon-cloud-download"></i>
							télécharger la photo<span class="coming-info">(Bient&ocirc;t disponible)</span>
						</a>
					</li>
            	</ul>
            </div>
        </div>
    </div>
</template>