<template name="menu">
   <div class="mt-gallery-left">
        <nav class="menu">
        	<ul>
                <li class="menu-item">
                    <a href="/">
                        <i class="icon-home"></i>
                        Home
                        <!--<span class="notif">1</span>-->
                    </a>
                </li>
                <li class="menu-item coming-soon">
                    <a href="#">
                        <i class="icon-cloud-download"></i>
                        Télécharger
                        <span class="coming-info"></br>(Bient&ocirc;t disponible)</span>
                    </a>
                </li>
                <li class="separator"></li>
                {{#if gallery}}
                <li class="menu-item">
                    {{#isolate}}
                    <a href="/{{gallery._id}}">
                        <i class="icon-camera"></i>
                        Ma galerie
                    </a>
                    {{/isolate}}
                </li>
                {{/if}}
        		<li class="menu-item">
        			<a href="/addPicture" class="mt-upload-link" title="Envoi de photos">
        				<i class="icon-plus"></i>
        				Ajouter des photos
        			</a>
                </li>
        	</ul>
        </nav>
    </div>
</template>